@import url("whitespace-reset.css");

body {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #45494d;
  background: #ffffff;
}

::selection {
  color: #ffffff;
  background: #50c3af;
}

a {
  text-decoration: none;
  color: #50c3af;
}

body > header {
  padding: 145px 0 55px 0;
  text-transform: uppercase;
  background: #3d3d3d;
  text-align: center;
}

body > header a { color: #ffffff; }

header h1 {
  font-size: 68px;
  letter-spacing: 25px;
  padding-bottom: 125px;
  margin-bottom: 140px;
  background: url("../images/logo.png") 50% 100% no-repeat;
}

header li {
  display: inline;
  margin: 0 25px;
}

.active { color: #50c3af; }

header li a:hover { color: #f5dc39; }

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: justify;
}

main:after {
  display: block;
  clear: both;
  content: "";
}

main article a:hover,
main aside a:hover {
  color: #50c3af;
}

.container {
  float: left;
  width: 65%;
  margin-right: 12%;
}

.container article { padding-bottom: 95px; }

article header { margin-bottom: 30px; }

main h2 { font-size: 36px; }

main h2 a { color: #45494d; }

main article header p { padding-top: 30px; }

article p,
aside p {
  line-height: 30px
}

aside {
  background: #f6f7f8;
  font-size: 14px;
  padding: 40px 34px;
  overflow: hidden;
}

aside h3 {
  font-size: 16px;
  margin-bottom: 34px;
  text-transform: uppercase;
}

aside ul { padding: 0 0 110px 20px; }

aside li {
  list-style: url("../images/list.png");
  padding-bottom: 10px;
}

aside li a { color: #787b80; }

.prev,
.next {
  color: #ffffff;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 20px;
}

.prev {
  background: #d2d5da;
  margin-right: 27px;
  cursor: default;
}

.next { background: #50c3af; }

footer {
  border-top: 2px solid #d0d0d0;
  font-size: 12px;
  width: 1000px;
  margin: 0 auto;
  padding: 18px 0 50px 0;
}

main section h2 { padding-bottom: 20px; }

main section h3 p { padding-top: 10px; }

main img {
  float: left;
  border-radius: 100%;
  background: #e8e8e8;
  margin-right: 10px;
}

fieldset { font-weight: bold; }

fieldset h2 { padding-bottom: 20px; }

textarea {
  width: 100%;
  resize: none;
}

input[type="text"],
input[type="email"] {
  width: 450px;
}

fieldset dt { margin-bottom: 10px; }

input,
textarea {
  padding: 10px 7px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid #cccccc;
}

input[type="submit"] {
  color: #ffffff;
  background: #50c3af;
  border-radius: 15px;
  padding: 10px 20px;
}

input[type="submit"]:hover { cursor: pointer; }

.container section article { padding-bottom: 45px; }

@media (max-width: 768px) {
  body > header { padding: 50px 0 25px 0; }

  body > header h1 { font-size: 48px; }

  main h2 a { font-size: 24px; }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
}

@media (max-width: 600px) {
  main .container {
    float: none;
    width: 90%;
    padding: 0 5%;
  }

  aside { margin-top: 50px; }

  aside:after {
    display: block;
    clear: both;
    content: "";
  }

  aside p { line-height: 20px; }

  aside ul { padding-bottom: 0; }

  .cat,
  .about {
    width: 50%;
  }

  .cat { float: left; }

  .about { float: right; }
}

@media (max-width: 480px) {
  body > header h1 {
    background-size: 90% auto;
    margin-bottom: 50px;
  }

  header li {
    display: inline-block;
    width: 40%;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .cat,
  .about {
    width: 100%;
  }

  .about { margin-top: 15px; }
}