* { box-sizing: border-box; }

body {
  background: #eee9ce;
  width: 600px;
  margin: 0 auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

label { 
  display: block;
  margin: 3px 0;
}

input { margin-left: 0; }
.question { margin-bottom: 50px; }

button {
  background: #55ec39;
  color: black;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
  cursor: default;
}

button + button { margin-left: 10px; }
.correct { color: #55ec39; }
.incorrect { color: red; }